@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  display: flex;
  gap: 5pc;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-style: inherit;
}

.active {
  color: rgb(101, 2, 2);
  box-shadow: 2px 2px 2px green;
}
.header {
  background: white;
  background: var(--Background-color, #fff);

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
.hero {
  padding: 2pc 0 0 0;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
  width: 100%;
}
.header-content {
  padding: 20px 0;
}
.text {
  position: relative;
  bottom: 19pc;
  left: 6pc;
}
.text h1 {
  color: #fff;
  font-size: 48px;
}
.imgnext {
  display: flex;
  justify-content: space-around;
  padding: 1pc 0 0 0;
  gap: 55pc;
}
.imgnext h1 {
  font-size: 40px;
}
.imgnext p {
  font-size: 15px;
  margin-top: 2pc;
  color: rgb(148, 81, 212);
}
.cartina {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 4pc;
}
.imgPhoto {
  border-radius: 16px;
  border: 1px solid #e1e1e1;
  background: #f5f5f5;
  width: 150px;
  height: 180px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4pc;
}
.logo h1 {
  font-size: 40px;
  padding: 20px 0 0 0;
}
.logo {
  padding: 6pc 0 0 0;
}
.true {
  margin-top: 3pc;
}
.true3 {
  margin-top: 7pc;
}
.img-content p {
  color: var(--Text-color, #4d4f50);
}
.link1 {
  display: flex;
  justify-content: space-around;
  gap: 55pc;
  padding: 4pc 0 2pc 0;
}
.link1 p {
  color: rgb(149, 79, 215);
  margin-top: 2pc;
}
.link1 h1 {
  font-size: 40px;
}
.learn p {
  color: rgb(107, 104, 104);
  font-size: 14px;
}
.forget {
  display: flex;
  justify-content: space-between;
}
.footer h1 {
  font-size: 30px;
}
.footer {
  padding: 6pc 0 0 0;
}
.down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2pc;
}
.down h1 {
  font-size: 20px;
}
.footerdown {
  background: var(--Main-color, #818eea);
  width: 100%;
  /* height: 400px; */
}
.body {
  display: flex;
  justify-content: space-around;
  padding: 6pc 5pc 0 5pc;
}
.box1 p {
  line-height: 30px;
  padding: 20px 0;
  color: #d8d9eace;
}
.box1 h1 {
  color: #fff;
  font-family: "Public Sans";
  font-size: 20px;
}
.box {
  color: #fff;
}
.box h1 {
  font-size: 40px;
}
.box p {
  padding: 20px 0 3pc 0;
}
.box input {
  border-radius: 8px;
  border: 0.5px solid var(--Background-color, #fff);
  padding: 10px 7pc;
  background: #818eea;
}
.router-content {
  /* display: flex; */
  padding: 20px 20px 30px 20px;
  /* gap: 5pc; */

  width: 900px;
  background: #fafafc;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgb(171, 168, 168);
}
.textbox {
  display: flex;
  gap: 10px;
  padding: 3pc 0;
}
.textbox h1 {
  font-size: 20px;
}
.bokx {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icom {
  display: flex;
  gap: 5pc;
}
.icomka {
  left: 50pc;
  position: relative;
}
.h1text p {
  color: rgb(144, 139, 139);
}
.h1text h3 {
  padding: 20px 0;
}
.h1text h4 {
  color: rgb(149, 79, 215);
  font-size: 20px;
}
.btn {
  /* padding: 5px 2px; */
  width: 150px;
  height: 50px;
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.btn button {
  font-size: 30px;
}
